body {
    background-color: #F0F0F0 ;
}

h1 {
	text-align: center;
	font-family: "Trebuchet MS", Ubuntu, Tahoma, Helvetica, Geneva, sans-serif;
}

h5 {
	font-family: "Trebuchet MS", Ubuntu, Tahoma, Helvetica, Geneva, sans-serif;
}

p {
	font-family: "Trebuchet MS", Ubuntu, Tahoma, Helvetica, Geneva, sans-serif;
}


.glass {
    margin: 10px auto;
    height: 438px;
    width: 19%;
    position: relative;
/*    background-image: url("avatar.png") no-repeat;*/
}

img {
    position: absolute;

    height: auto%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 0;
}


#water {
    width: 100%;
    height: 0%;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    z-index: -1;
}