{% extends "basiclayout.html" %}
{% block body %}
<Title> YRS15 Birmingham - Hydright</title>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('hello')}}">Hydright</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	    <li class="active"><a href="{{ url_for('hello')}}">Home <span class="sr-only">(current)</span></a></li>
	    <li><a href="{{ url_for('testw')}}">Weather</a></li>
		<li><a href="{{ url_for('signup')}}">Sign-up</a></li>
        <li><a href="{{ url_for('credits')}}">Credits</a></li>
	  </ul>
	 </div>
  </div>
 </nav>
<h1>Hydright</h1>
<h4 align="center"> We all need water. That fact is simple. Yet the majority of us do not drink enough.<br> </h4>
<h3 align="center">Hydright is a simple Web Game that reminds you when to drink and provides incentive for you to do so.</h3>
<br>
<p align="center"><a href="{{ url_for('signup')}}" align="center" class="btn btn-primary btn-lg" role="button">Sign-Up</a></p>
<br>
<div class="row">
	<div class="col-sm-4">
	<h3>Hydration information</h3>
	<p>Females: 2.6L</p>
	<p>Males: 3L</p>
	<p>Children: 2L</p>
	</div>
<div class="col-sm-4">
      <h3>Young Rewired State</h3>        
      <p><i><img src="{{ url_for('static', filename='yrsicon.jpeg') }}" alt="YRS Icon"><p>Made at Young Rewired State's Festival of Code 2015 at BBC Birmingham</p></i></p>
    </div>
  </div>
{% endblock %}
