{% extends "basiclayout.html" %}
{% block body %}
<Title> YRS15 Birmingham - Hydright</title>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('hello')}}">Hydright</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	    <li class="active"><a href="{{ url_for('hello')}}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('credits')}}">Credits</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('signup')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  </ul>
	 </div>
  </div>
 </nav>
<div class="container">
  <div class="jumbotron">
	<img id="titlepic" class="center-block" src="{{ url_for('static', filename='Izzie2.png') }}"> 
	<h4 align="center"> We all need water. That fact is simple. Yet the majority of us do not drink enough.<br>This leads to headaches, sickness, and a loss of productivity </h4>
	<h3 align="center">Hydright is a simple Web Game that reminds you when to drink and provides incentive for you to do so.</h3>
	<br>
	<p align="center"><a href="{{ url_for('signup')}}" align="center" class="btn btn-primary btn-lg" role="button">Sign-Up</a></p>
<br>
<div class="row">
	<div class="col-sm-4">
	<h3><u>Hydration information</u></h3>
	<p>Females: 2.6L</p>
	<p>Males: 3L</p>
	<p>Children: 2L</p>
	</div>
<div class="col-sm-4">
      <h3><u>Young Rewired State</u></h3>        
      <p><i><img src="{{ url_for('static', filename='yrsicon.jpeg') }}" alt="YRS Icon"><p>Made at Young Rewired State's Festival of Code 2015 at BBC Birmingham</p></i></p>
    </div>
<div class="col-sm-4">
      <h3><u>The boring part</u></h3>        
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Hydright</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.<br><p>The code will be available on GitHub after the Festival of Code 2015 has finished.</p>
    </div>
  </div>
  </div>
</div>
<!-- <p size="2"><i><a href="{{ url_for('main')}}">Sprite page</a></i></p> -->
{% endblock %}
