<html> 
	<head>
		<style> 
			body 
			{ 
				background-color:aquamarine;
				margin-left:auto;
				text-align: center;
			}
	
			strong 
			{ 
			color:blue;
			}
		</style>
	</head>
	
	<body>
	<h1>Welcome to Hydright!!!</h1>
		<form>
			<div class="bodytypeoptions">
				<h2 title="Choose the following options" class="hello"> Are you a...{click the folowing}</h2> 
			
				<input TITLE="Click me if you are a male" type="radio" name="type of person" value="male">MALE
				<input  TITLE="Click me if you are a female" type="radio" name="type of person" value="female">FEMALE 
				 <br><br><br><br><br>
				
				<strong>Username:<br></strong>
				<input type="text" placeholder="Type in your Username" class="hello"  name="Username"> 
				<br>
				<strong>Password:<br></strong>
				<input type="text" placeholder="Type in your password" class="hello" name="Password"> <br><br>
				
				
				<select>  
				<option value="under 16">under 16</option>
				<option value="16-30">16-30</option> 
				<option value="31-54">31-54</option> 
				<option value="55-56">55-56</option> 
				<option value="65+">65+</option>
				</select> 
				<input class="submitbutton" type="submit"> 
			</div>
		</form>
	</body>
</html>  