<html> 
	<head>
		<style> 
			body 
			{ 
				background-color:aquamarine; 
			}
			div.bodytypeoptions 
			{ 
				position:absolute; 
				right:85px; 
				down:150px;	
			}
			strong 
			{ 
			color:blue;
			}
		</style>
	</head>
	
	<body>
	<h1>Welcome to Hydright!!!</h1>
		<form>
			<div class="bodytypeoptions">
				<h2 title="Choose the following options" class="hello"> Are you a...{click the folowing}</h2> 
				
				<input TITLE="Click me if you are a male" type="radio" name="type of person" value="male">MALE
				<input  TITLE="Click me if you are a female" type="radio" name="type of person" value="female">FEMALE 
				<input  TITLE="Click me if you are a child" type="radio" name="type of person" value="child">CHILD <br><br><br><br><br>
				
				<strong>Username:<br></strong>
				<input type="text" placeholder="Type in your Username" class="hello"  name="Username"> 
				<br>
				<strong>Password:<br></strong>
				<input type="text" placeholder="Type in your password" class="hello" name="Password"> <br><br>
				<input class="submitbutton" type="submit"> 
			</div>
		</form>
	</body>
</html>  