<html> 
	<head>
		<style> 
			body 
			{ 
				background-color:aquamarine;
				margin-left:auto;
				text-align: center;
			}
	
			strong 
			{ 
			color:blue;
			}
		</style>
	</head>
	
	<body>
	<h1>Welcome to Hydright!!!</h1>
		<form action="http://calm-harbor-1764.herokuapp.com/sprite.php" method="POST">
			<div class="bodytypeoptions">
				<h2 title="Choose the following options" class="hello"> Are you a...(click the folowing)</h2> 
			
				<input TITLE="Click me if you are a male" type="radio" name="Gender" value="male">MALE
				<input  TITLE="Click me if you are a female" type="radio" name="Gender" value="female">FEMALE 
				 <br><br>
				<strong>Username:<br></strong>
				<input type="text" placeholder="Type in your Username" class="hello"  name="Username"> 
				<br><br>
				<strong>Password:<br></strong>
				<input type="password" placeholder="Type in your password" class="hello" name="Password"> <br><br>
				
				<strong> Age: <br></strong>
				<select name="Age">
				<option value="" selected disabled>Select age</option>
				<option value="under 16">under 16</option>
				<option value="16-30">16-30</option> 
				<option value="31-54">31-54</option> 
				<option value="55-64">55-64</option> 
				<option value="65+">65+</option>
				
				</select><BR><BR>  
				<strong>Weight (kg):<br></strong>
				<input type="text" placeholder="Type your weight" class="weight"  name="Weight"> 
				<br><br>
				<input class="submitbutton" type="submit"> 
			</div>
		</form>
	</body>
</html>  