{% extends "basiclayout.html" %}
{% block body %}
<head>
<script src="{{ url_for('static', filename='watertest.js') }}"></script>

</head>
<Title>Hydright</title>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('hello')}}">Hydright</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	    <li><a href="{{ url_for('hello')}}">Home</a></li>
        <li><a href="{{ url_for('credits')}}">Credits</a></li>
		<li class="active"><a href="{{ url_for('main')}}">Sprite page <span class="sr-only">(current)</span></a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('signup')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  </ul>
	 </div>
  </div>
 </nav>


<div class="container">
  <div class="col-sm-6">
    <h2>Welcome to Hydright {{ username }}</h2>
    <br><!-- 
    <p>You should be taking in {{ basetotal }} litres of water per day.</p> -->
    <p>You should be taking in <span id="target"> </span> millitres of water per day.</p>

    <p><b>Todays weather is:</b> {{ weather }} </p>
    <br>
    <p>So far you have consumed <strong><span id="sofar">0</span></strong> millitres of water today.</p>
    <p> You are <strong><span id="percentage">0</span>%</strong> towards hydration.</p>

    <br>
    <form method="POST" id="waterlevel" name="waterlevel">
      Today I have drank (ml): <input type="text" id="fill" name="fill"><br>
      <input type="submit" value="Submit">
    </form>

    <br>
    <form method="POST" id="exercise" name="exercise">
            Log exercise:
            <select name="Exercise" id="Exercise">
            <option value="" selected disabled>Select level</option>
            <option value="heavy">Heavy</option>
            <option value="moderate">Moderate</option> 
            <option value="light">Light</option> 
          </select>

          <div id="spinner">
            Number of minutes:
          <a id="down" href="#" onclick="updateSpinner(this);">-</a><input id="content" value="0" type="text" style="width:30px" /><a id="up" href="#"  onclick="updateSpinner(this);">+</a>
          </div>
          <input type="submit" value="Submit">
    </form>
  </div>
    <div class="col-sm-6">
      <div class="glass">
          <div id="water" class="water"></div>
          <img id="man" src="{{ url_for('static', filename='avatar.png')}}">
      </div>
    <br>
  </div>


</div>
{% endblock %}
